@import '../config';


main.collection {
    padding: 2em;

    section.main-container {
        @include Flex(sb, c);
        flex-wrap: wrap;

        h2 {
            font-family: 'Inter';
            font-weight: 900;
            letter-spacing: -1px;
            width: 100%;
            margin-top: 1em;
            text-align: center;
            font-size: 2rem;
            color: $clr-greydr;
        }

        article {
            margin-right: .5em;
            margin-bottom: 3em;
            border-radius: .2em;
        }

        article.collection-movie {
            padding: .75em;
            position: relative;
            @include Flex(sb);
            flex-direction: column;
            width: 30%;
            aspect-ratio: 1.5;
            cursor: pointer;
            overflow: hidden;

            p.title {
                font-family: 'Inter';
                text-align: right;
                font-weight: 900;
                font-size: 1.75rem;
                margin: .2em;
                margin-left: 1em;
                letter-spacing: -1px;
                word-wrap: break-word;
                text-shadow: 0 0 3px $clr-blackd;
            }

            div.time-type {
                @include Flex(sb, c);
                margin-bottom: 2em;

                p {
                    font-size: .8rem;
                    padding: .25em .35em;
                    font-family: 'UbuntuMono';
                    background: $clr-blackd;
                }
            }

            figure {
                @include FullSize;
                position: absolute;
                left: 0;
                z-index: -1;
                opacity: .4;
                top: 0;

                img {
                    width: 100%;
                    height: min-content;
                }
            }
        }

        article.collection-folder,
        article.collection-file {
            padding: 1em;
            width: 15%;
            aspect-ratio: 1;
            @include Flex(c, c);
            flex-direction: column;
            cursor: pointer;
            transition: 250ms;

            p.num,
            p.size {
                font-size: .8rem;
                margin-top: .5em;
                color: $clr-greyd;
            }

            p.title,
            p.name {
                word-break: break-all;
                text-align: center;
                color: $clr-whitedr;
                font-size: 1.1rem;
                margin-top: .25em;
            }

            span {
                display: block;
                @include FullSize(80px);
            }

            &:hover {
                background: rgba(30, 30, 30, .5);
            }
        }
    }

    section.top {
        @include Flex(sb, fs);
        margin-bottom: 3em;

        section.manage-options {
            display: flex;

            div.popup-menu {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(30, 30, 30, .75);
                @include Flex(c, c);
                @include Layer(9, fixed);

                section.popup-title {
                    @include Flex(none, c);
                    margin-bottom: 2em;

                    span {
                        @include FullSize(60px);    
                    }

                    p {
                        font-family: 'Inter';
                        margin-left: .5em;
                        letter-spacing: -1px;
                        color: $clr-greyl;
                        font-size: 1.1rem;
                        font-weight: 800;
                    }
                }

                form,
                section.menu {
                    position: relative;
                    background: $clr-blackd;
                    padding: 2em;
                    border-radius: .25em;
                    width: 35%;

                    div.btns {
                        @include Flex(sb);  
                        margin-top: 2em;

                        button {
                            display: block;
                            @include HoverBG;
                            padding: 1em;
                            border: 0;
                            outline: 0;
                            font-size: .8rem;
                            width: 47%;
                            color: $clr-whitel;

                            &.red {
                                background: $clr-redd;
                            }

                            &.blue {
                                background: $clr-blued;
                            }
                        }
                    }
                }
            }

            div.folder-add-popup {
                form {
                    p.fname {
                        text-transform: uppercase;
                        font-size: .85rem;
                        font-family: 'UbuntuMono';
                        color: $clr-whitedr;
                    }

                    input {
                        background: $clr-blackl;
                        border-radius: .25em;
                        margin-top: .4em;
                        color: $clr-whitel;
                        padding: .5em .6em;
                        font-size: .85rem;
                        outline: 0;
                        border: 0;
                        width: 100%;
                    }
                }
            }

            div.folder-del-popup {
                p.warn {
                    color: $clr-redlr;
                    text-transform: uppercase;
                    width: 70%;
                    font-size: .9rem;
                    letter-spacing: -1px;
                    font-weight: bold;
                }

                section.menu p.name {
                    font-size: 1.1rem;
                    color: $clr-greylr;
                    margin: 1em 0 2em 0;
                    font-family: 'UbuntuMono';
                    word-wrap: break-word;
                }
            }

            div.file-add-popup {
                form {
                    div.upload-load {
                        @include Flex(c, c);
                        flex-direction: column;

                        p {
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            font-weight: 900;
                            margin-top: 1em;
                            font-family: 'Inter';
                        }
                    }

                    p.tree-info {
                        @include Flex(none, c);

                        &:not(span) {
                            font-size: .75rem;
                            color: $clr-greylr;
                        }

                        span {
                            text-transform: uppercase;
                            font-weight: 800;
                            font-family: 'Inter';
                            font-size: .85rem;
                            margin-right: .25em;
                        }
                    }

                    div.input-div {
                        margin-bottom: 1em;

                        input:not(.file-label) {
                            width: 100%;
                            outline: 0;
                            border: 0;
                            background: $clr-blackl;
                            color: $clr-whitel;
                            padding: .5em;
                            font-size: .85rem;
                        }

                        &.movie-mark {
                            @include Flex(fs, c);

                            label, input {
                                cursor: pointer;
                            }

                            label {
                                padding-right: .5em;
                            }

                            input {
                                @include FullSize(20px);
                            }
                        }
                    }

                    label {
                        text-transform: uppercase;
                        font-size: .8rem;
                        color: $clr-greyd;
                    }

                    section.uploaded-section {
                        margin-top: 2em;

                        div.file-type {
                            margin-bottom: 1em;

                            p {
                                font-size: .85rem;
                                color: $clr-whitel;
                            }
                        }
                    }

                    section.file-upload {
                        margin-top: 1.75em;

                        input[type='file'] {
                            display: none;
                        }

                        label {
                            @include Flex(none, c);
                            background: $clr-blued;
                            font-size: .9rem;
                            padding: .5em 1em;
                            border-radius: 1em;
                            @include HoverBG;
                            width: max-content;
                            color: $clr-whitel;
                            text-transform: none;

                            span {
                                @include FullSize(30px);
                                margin-right: .5em;
                            }
                        }
                    }
                }
            }

            div.icon-button-div {
                span {
                    border-radius: .5em;
                    @include HoverBG;
                    @include FullSize(50px);
                    @include Flex(c, c);
                    color: $clr-whitel;
                    margin-left: .5em;
        
                    svg {
                        @include FullSize(50%);
                    }
                }

                &.new-file span { background: $clr-greend; }
                &.new-folder span { background: $clr-blued; }
                &.delete-folder span { background: $clr-redl; }
            }
        }

        section.header-section {
            h1 {
                text-transform: uppercase;
                font-family: 'Inter';
                font-weight: 900;
                color: $clr-whitelr;
                font-size: 1.5rem;
            }
        
            div {
                display: flex;
                margin-top: .5em;
                
                span.folder-icon {
                    display: block;
                    @include FullSize(25px);
                    margin-right: .75em;
                }
    
                span:not(.folder-icon) {
                    font-size: .8rem;
                    pointer-events: none;
        
                    &.prev {
                        color: $clr-whited;
                        cursor: pointer;
                        @include HoverBG;
                        pointer-events: all;
                    }
    
                    &.gt {
                        margin: 0 .5em;
                        color: $clr-whitelr;
                    }
                    
                    &.current {
                        color: $clr-bluelr;
                    }
                }
            }
        }
    }
}