@import '../config';


main.collection {
    padding: 2em;

    section.main-container {
        @include Flex(sb, c);
        flex-wrap: wrap;

        article {
            margin-right: .5em;
            margin-bottom: 3em;
            border-radius: .2em;
        }

        article.collection-movie {
            padding: .75em;
            position: relative;
            @include Flex(sb);
            flex-direction: column;
            width: 30%;
            aspect-ratio: 1.5;

            div.title-icons {
                @include Flex(sb, fe);

                section.movie-icons {
                    span {
                        display: block;
                        cursor: pointer;
                        color: $clr-whited;
                        @include FullSize(30px);
                        margin-top: .5em;
                        transition: 250ms;
                        text-shadow: 0 0 3px $clr-blackd;

                        &:hover {
                            color: $clr-bluel;
                        }
                    }                    
                }

                p.title {
                    font-family: 'Inter';
                    text-align: right;
                    font-weight: 900;
                    font-size: 1.75rem;
                    margin-left: 1.7em;
                    letter-spacing: -1px;
                    text-shadow: 0 0 3px $clr-blackd;
                }
            }

            div.time-type {
                @include Flex(sb, c);
                margin-bottom: 2em;

                p {
                    font-size: .8rem;
                    padding: .25em .35em;
                    font-family: 'UbuntuMono';
                    background: $clr-blackd;
                }
            }

            figure {
                @include FullSize;
                position: absolute;
                left: 0;
                z-index: -1;
                opacity: .4;
                top: 0;

                img {
                    @include FullSize;
                    object-fit: cover;
                }
            }
        }

        article.collection-folder,
        article.collection-file {
            padding: 1em;
            width: 15%;
            aspect-ratio: 1;
            @include Flex(c, c);
            flex-direction: column;
            cursor: pointer;
            transition: 250ms;

            p.num,
            p.size {
                font-size: .8rem;
                margin-top: .5em;
                color: $clr-greyd;
            }

            p.title,
            p.name {
                word-break: break-all;
                text-align: center;
                color: $clr-whitedr;
                font-size: 1.1rem;
                margin-top: .25em;
            }

            span {
                display: block;
                @include FullSize(80px);
            }

            &:hover {
                background: rgba(30, 30, 30, .5);
            }
        }
        
        article.collection-file {
            width: 20%;
        }
    }

    section.top {
        @include Flex(sb, fs);
        margin-bottom: 3em;

        section.manage-options {
            display: flex;

            div.folder-add-popup,
            div.folder-del-popup {
                width: 100%;
                height: 100%;
                position: fixed;
                left: 0;
                top: 0;
                background: rgba(30, 30, 30, .75);
                @include Flex(c, c);

                form,
                section.menu {
                    position: relative;
                    background: $clr-blackd;
                    padding: 2em;
                    border-radius: .25em;
                    width: 25%;

                    div.btns {
                        @include Flex;  
                        margin-top: 1.25em;

                        button {
                            display: block;
                            margin-right: .5em;
                            @include HoverBG;
                            padding: .5em 1em;
                            border: 0;
                            outline: 0;
                            font-size: .8rem;
                            color: $clr-whitel;
                        }
                    }
                }
            }

            div.folder-add-popup {
                form {
                    p {
                        text-transform: uppercase;
                        font-size: .9rem;
                        font-family: 'UbuntuMono';
                        color: $clr-whitedr;
                    }

                    input {
                        background: $clr-blackl;
                        border-radius: .25em;
                        margin-top: .4em;
                        color: $clr-whitel;
                        padding: .5em .6em;
                        font-size: .85rem;
                        outline: 0;
                        border: 0;
                        width: 100%;
                    }

                    div button {
                        &.cancel {
                            background: $clr-red;
                        }

                        &.save {
                            background: $clr-blued;
                        }
                    }
                }
            }

            div.folder-del-popup {
                section.menu {
                    p {
                        text-align: center;

                        &.info {
                            font-weight: 800;
                            font-size: 1.5rem;
                            font-family: 'Inter';
                        }

                        &.name {
                            font-size: .9rem;
                            color: $clr-greylr;
                            margin: 1em 0 2em 0;
                            font-family: 'UbuntuMono';

                        }
                    }
                    div button {
                        &.delete {
                            background: $clr-red;
                        }

                        &.cancel {
                            background: $clr-blued;
                        }
                    }
                }
            }

            span.new-folder,
            span.delete-folder {
                border-radius: .5em;
                @include HoverBG;
                @include FullSize(50px);
                @include Flex(c, c);
                color: $clr-whitel;
                margin-left: .5em;
    
                svg {
                    @include FullSize(50%);
                }
            }

            section.delete-folder {
                span.delete-folder {
                    background: $clr-red;
                }
            }

            section.new-folder {
                span.new-folder {
                    background: $clr-blued;
                }
            }
        }

        section.header-section {
            h1 {
                text-transform: uppercase;
                font-family: 'Inter';
                font-weight: 900;
                color: $clr-whitelr;
                font-size: 1.5rem;
            }
        
            div {
                display: flex;
                margin-top: .5em;
                
                span.folder-icon {
                    display: block;
                    @include FullSize(25px);
                    margin-right: .75em;
                }
    
                span:not(.folder-icon) {
                    font-size: .8rem;
                    pointer-events: none;
        
                    &.prev {
                        color: $clr-whited;
                        cursor: pointer;
                        @include HoverBG;
                        pointer-events: all;
                    }
    
                    &.gt {
                        margin: 0 .5em;
                        color: $clr-whitelr;
                    }
                    
                    &.current {
                        color: $clr-bluelr;
                    }
                }
            }
        }
    }
}