@import './config';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Poppins';

    @font-face {
        font-family: 'Poppins';
        src: url('../fonts/Poppins-Regular.ttf');
    }

    @font-face {
        font-family: 'Inter';
        src: url('../fonts/Inter.ttf');
    }

    @font-face {
        font-family: 'UbuntuMono';
        src: url('../fonts/UbuntuMono-Regular.ttf');
    }
}

body {
    background: $clr-blackd;

    figure.background-body-image {
        position: fixed;
        left: 0;
        top: 0;
        @include FullSize;
        opacity: .1;
        @include Layer(-1, fixed);

        img {
            width: 100%;
        }
    }

    color: $clr-whitel;
    width: 100vw;
    min-height: 100vh;

    svg {
        @include FullSize;
    }
}