@import '../config';


nav.layout-navigation {
    background: $clr-blackl;
    padding: 0 1.2em;
    @include Flex(sb, c);
    height: $nav-height;

    ul {
        list-style: none;
        display: flex;

        li {
            margin-left: .5em;

            a {
                text-decoration: none;
                color: $clr-whitel;
                @include HoverBG(250ms, auto, $clr-bluel);

                span {
                    display: block;
                    background: inherit;
                    @include FullSize(25px);
                }
            }
        }
    }

    a.logo {
        color: $clr-whited;
        text-decoration: none;
        font-family: 'UbuntuMono';
        letter-spacing: -1px;
        font-size: 1.2rem;
    }
}