@import '../config';


main.homepage {
    @include Flex(sa, c);
    height: calc(100vh - $nav-height);
    padding: 2em;
    position: relative;
    overflow: hidden;
    
    article {
        width: 40%;

        h1 {
            font-weight: 900;
            font-family: 'Inter';
            font-size: 2.75rem;
        }

        p {
            font-size: .85rem;
            margin: 2em 0 4em 0;
            color: $clr-whitedr;
        }

        button {
            @include HoverBG;
            border: 0;
            outline: 0;
            background: $clr-blued;
            width: 100%;
            border-radius: 2em;

            a {
                padding: .75em;
                display: block;
                color: $clr-whitel;
                width: 100%;
                text-decoration: none;
            }
        }
    }

    figure {
        &.bg-img {
            left: 0;
            top: 0;
            @include Layer(-1, absolute);
            opacity: .1;
            width: 100%;
        }

        &.left-img {
            width: 40%;
            filter: brightness(80%);
        }

        img {
            width: 100%;
        }
    }
}