@import '../config';


main.credentials {
    @include Flex(c, c);
    height: calc(100vh - $nav-height);
    
    section.main-container {
        width: 30%;
        background: $clr-blackl;
        padding: 1.5em;
        overflow: hidden;
        border-radius: 1em;
        position: relative;

        form {
            button {
                outline: 0;
                border: 0;
                color: $clr-whitel;
                background: $clr-blued;
                border-radius: .25em;
                font-size: .8rem;
                padding: .75em;
                cursor: pointer;
                margin: 1.5em auto 0 auto;
                display: block;
                width: 50%;
                @include HoverBG;
            }

            div.checkbox-input {
                &.tos {
                    margin-bottom: 1em;
                }

                input {
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                    font-size: .75rem;
                    padding-left: .5em;
                }
            }

            div.input-div {
                margin-bottom: .5em;

                div {
                    width: 100%;
                    position: relative;

                    span {
                        position: absolute;
                        @include FullSize(30px);
                        top: 50%;
                        right: .5em;
                        translate: 0 -50%;
                    }

                    input {
                        width: 100%;
                        outline: 0;
                        color: $clr-whitedr;
                        font-size: .8rem;
                        border: 0;
                        background: $clr-blackd;
                        border-radius: .25em;
                        padding: .75em;

                        &[type='password'] {
                            padding-right: calc(30px + 1.25em);
                        }
                    }
                }

                label {
                    text-transform: uppercase;
                    font-size: .75rem;
                    font-weight: bold;
                }
            }
        }

        section.select-menu {
            @include Flex(sb, c);
            margin-bottom: 1.5em;
            position: relative;

            p {
                text-align: center;
                min-width: 35%;
                font-size: 1rem;
                padding-bottom: .75em;
                cursor: pointer;

                &.active {
                    pointer-events: none;
                }
            }

            span {
                height: 2px;
                position: absolute;
                transition: 200ms;
                bottom: 0;
                background: $clr-bluel;
            }
        }
    }
}